@model PWABlog.ViewModels.Admin.AdminAutoresCriarViewModel

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Registro de Autores</h3>

    </div>
    <div class="card-body">
        @if (@Model.Erro != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Erro!</h5>
                @Model.Erro
            </div>
        }

        <form action="/admin/autores/criar" method="post">
            <div class="form-group mb-3">
                <label for="Nome">Nome do autor</label>
                <input id="Nome" name="Nome" type="text" class="form-control">
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                <p class="text-center mt-3">
                    <a href="/admin/autores">Cancelar</a>
                </p>
            </div>
        </form>
    </div>
</div>
