<!DOCTYPE html>
<html>
<head>
    <title>Sou estudante de analise desenvolvimento de sistemas, tenho 21 anos, minha cidade natal é seritinga sul de Minas.</title>
</head>
<body>
<a>Aê léo não tenho uma foto minha bonita pra colocar, mas tamo junto!</a>
<div>
</div>
</body>
</html>